* {
    /* Tener tamaños reales */
    box-sizing: border-box;
}

body {

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e2eaff;
    color: #101632dd;
}

body, header, input, nav, div, ul, li, a, footer {
    margin: 0;
    padding: 0;
}

/* ----------- Header section */
.header {
    background-color: #fff;
    /* definir un container flex */
    display: flex;
    /* Acomodar elementos */
    justify-content: space-between;
    align-items: center;
    
}

/* por defecto para hacer check y menu apararezca y desaparezca */
.header__nav {
    display: none;
    background-color: #fff;
    /* temporal para que no estorbar */
    position: absolute;
    /* Posicionar arriba */
    width: 100vw;
    height: 100vh;
    top: 0;
    /* Para no tapar logo maerks */
    z-index: -1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-around;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__checkbox {
    /* quitar el elemento */
    display: none;
}

.header__open-nav-button {
    color: #48e;
    font-size: 3rem;
    padding: 20px;
    font-weight: 600px;
    /* Temporal para que no nos estorbe el elemento */
    position: absolute;
    /* mandar elementos derecha por el momento */
    right: 10px;
}
.header__logo {
    /* Maxima resolucion sea 100% */
    max-width: 100%;
    /* Darle tam 64px */
    width: 64px;
    /* 10px arriba-abajo 20px costados */
    margin: 10px 20px;
}

.header__nav-list {
    list-style: none;
}

.header__nav-item a {
    color: #48e;
}

/* Efecto cuando seleccionamos nos deje la decoracion texto */
.header__nav-list a:not(:hover) {
    text-decoration: none;
}

/* -------------- Header queries */

/* -------------- Header ends */